/*btn*/
.btn-group * {
    border-radius: 0 !important;
    background: #5cb85c !important;
    text-shadow: none !important;
    color: white !important;
}
.open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover{
    border-radius: 0;
    background: #5cb85c;
    text-shadow: none;
    color: white;
}
.btn-group button:hover{
    background: #449d44;
}
.btn-group button:hover{
    background: #449d44;
}
/*btn*/
/*process*/
#process{
    /*background: #f5f5f5;*/
    width: 100%;
    height: 500px;
    position: relative;
}
#process * {
    user-select: none !important;
}
svg{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: #f5f5f5;
}
/*process*/

/*task*/
.task{
    position: absolute !important;
    padding: 0.5em 1em;
    font-size: 1em;
    cursor: pointer;
    border-radius: 0.5em;
    border: 1px solid #333;
    color: #333;
}
.task .norm, .task .ok, .task .err, .task .mailing{
    width: 1em;
    height: 1em;
    position: absolute;
    display: none;
    z-index: 9;
}
.task[data-type="timeout"] {
    background: #e1edec;
}
.task[data-type="add"] {
    background: #449d44;
}
.task[data-type="rm"] {
    background: red;
}
.task[data-type="if"] {
    background: #a48cff;
}
.task[data-type="mailing"] {
    background: #ff41e0;
}
.task[data-type="start"] {
    background: #7fff7a;
}
.task[data-type="proc"] {
    background: #ffa35a;
}
.task[data-type="proxy"] {
    background: #007f84;
}
.task[data-type="if"] .ok{
    display: block;
    left: 100%;
    top: 0.2em;
    margin: auto;
    background: greenyellow;
}
.task[data-type="if"] .err{
    display: block;
    left: 100%;
    bottom: 0.2em;
    margin: auto;
    background: red;
}
.task[data-type="start"] .norm,
.task[data-type="proc"] .norm,
.task[data-type="proxy"] .norm,
.task[data-type="rm"] .norm,
.task[data-type="mailing"] .norm,
.task[data-type="add"] .norm,
.task[data-type="timeout"] .norm{
    display: block;
    left: 100%;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #333;
}

/*task*/


/*modal*/
.modal{
    display: inline-table;
    background: white;
    position: fixed;
    z-index: 9;
    top: 0;
    max-width: 600px;
    width: 100%;
    margin: auto;
    padding: 1em;
    border-radius: 1em;
    /*height: 100%;*/
}
.modal input{
    outline: none!important;
}
.modal .title input{
    border: 0;
    width: 100%;
}
.modal .close{
    position: absolute;
    right: 1em;
    top: 0.8em;
}
.modal hr{
    width: calc(100% + 2em);
    margin-left: -1em;
}
.modal .hide{
    display: none;
}
.modal .inline{
    display: flex;
}
.modal .inline input{
    width: 2em;
    height: 1.5em;
    margin-top: 0.5em;
}
.modal .inline h5{
    margin-left: 1em;
    margin-right: 1em;
}
.modal textarea{
    width: 100%;
}
/*modal*/